body {
    width: 800px;
    margin: 0 auto;
}

.cards {
    margin-top: 100px;
    height: 200px;
    width: 140px;
    float: left;
}

#card1 {
    background-image: url('cards.png');
    background-position:-433px -1585px;
    background-repeat: no-repeat;
}

#card2 {
    background-image: url('cards.png');
    background-position: 0px -1783px;
    background-repeat: no-repeat;
    margin-left: -20px;
    margin-top: 150px;
}

#card3 {
    background-image: url('cards.png');
    background-position: -288px -1385px;
    background-repeat: no-repeat;    
    margin-left: -35px;
    margin-top: 170px;
}

#card4 {
    background-image: url('cards.png');
    background-position: -144px -2181px;
    background-repeat: no-repeat;
    margin-left: -40px;
    margin-top: 190px;
}

#card5 {
    background-image: url('cards.png');
    background-position: 3px -2379px;
    background-repeat: no-repeat;
    margin-left: -50px;
    margin-top: 210px;
}