body {
    width: 800px;
    margin: 0 auto;
}

div {
    height: 200px;
    width: 750px;
    margin-top: 100px;
}

span {
    display: inline-block;
    height: 200px;
    width: 140px;
}

#span1 {
    background-image: url('cards.png');
    background-position:-433px -1585px;
    background-repeat: no-repeat;
}

#span2 {
    background-image: url('cards.png');
    background-position: 0px -1783px;
    background-repeat: no-repeat;
}

#span3 {
    background-image: url('cards.png');
    background-position: -288px -1385px;
    background-repeat: no-repeat;
}

#span4 {
    background-image: url('cards.png');
    background-position: -144px -2181px;
    background-repeat: no-repeat;
}

#span5 {
    background-image: url('cards.png');
    background-position: 3px -2379px;
    background-repeat: no-repeat;
}

.class {
    height: 200px;
    width: 140px;
    position: sticky;
    top: 0px;
}

#c1{
    background-image: url('cards.png');
    background-position:-433px -1585px;
    background-repeat: no-repeat;
}

#c2{
    background-image: url('cards.png');
    background-position: 0px -1783px;
    background-repeat: no-repeat;
}

#c3{
    background-image: url('cards.png');
    background-position: -288px -1385px;
    background-repeat: no-repeat;
}


#c4{
    background-image: url('cards.png');
    background-position: -144px -2181px;
    background-repeat: no-repeat;
}

#c5{
    background-image: url('cards.png');
    background-position: 3px -2379px;
    background-repeat: no-repeat;
}