table {
    border: solid 5px black;
    border-collapse: collapse;
    margin-top: 150px;
    margin-left: 600px;
}

td {
    height: 80px;
    width: 80px;
}

table tr:nth-child(odd) td:nth-child(odd) {
    background-color: black;
}

table tr:nth-child(odd) td:nth-child(even) {
    background-color: white;
}

table tr:nth-child(even) td:nth-child(even) {
    background-color: black;
}

table tr:nth-child(even) td:nth-child(odd) {
    background-color: white;
}