    .MenuLevel1 {
        width: 100%;
    }
    
    .menu { 
        float: left;
        border: solid 1px; 
        position: relative; 
        cursor: pointer;
        width: 19%;
        background-color: rgb(211,211,211); 
        color: rgb(130,130,130);
    }
    
    .MenuLevel2 {
        position: absolute;
        background-color: rgb(211,211,211);
        width: 100%;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: opacity 2s ease 0.15s, visibility 2s ease 0.15s;
    }
    
    .MenuLevel2 a { 
        display: block;
        color: rgb(130,130,130);
        text-decoration: none;
        border: solid 1px;
    }

    .menu:hover .MenuLevel2 {
        opacity: 1;
        visibility: visible;
    }
    
    .menu:hover .day {
        color: rgb(211,211,211);
        background-color: rgb(130,130,130);
    }

    .MenuLevel2 a:hover {
        color: rgb(211,211,211);
        background-color: rgb(130,130,130);
    }


@media all and (max-width: 250px) {

    .MenuLevel1 {
        width: 100px;
    }
    
    .menu { 
        background-color: rgb(211,211,211); 
        color: rgb(130,130,130);
        border: solid 1px; 
        position: relative; 
        cursor: pointer;
        width: 100px;
    }
    
    .MenuLevel2 { 
        width: 150px;
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 0px;
        left: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 2s ease 0.15s, visibility 2s ease 0.15s;
    }
    
    .MenuLevel2 a { 
        display: block;
        color: rgb(130,130,130);
        text-decoration: none;
        border: solid 1px;
    }

    .menu:hover .MenuLevel2 {
        opacity: 1;
        visibility: visible;
    }
    
    .menu:hover .day {
        color: rgb(211,211,211);
        background-color: rgb(130,130,130);
    }

    .MenuLevel2 a:hover {
        color: rgb(211,211,211);
        background-color: rgb(130,130,130);
    }

}
