body {
    width: 1000px;
    margin: 0 auto;
}

table {
    margin-top: 150px;
    border-collapse: collapse;
    width: 800px;
}

thead {
    background-color: rgb(128,128,128);
}

th {
    border: solid 1px white;
    border-bottom-style: none;
}

tbody tr:first-child td {
    border-top-style: none;
}

.name {
    font-weight: bold;
}

.name, .bord .name {
    border-left-style: none;
}

.end, .bord .end {
    border-right-style: none;
}

tfoot {
    text-align: center;
    text-transform: uppercase;
}

.bord td {
    border-style: dotted;
    border-width: 1px;
}

#tfoot {
    border-style: none;
}

tbody tr:nth-child(even) {
    background-color: rgb(211,211,211);
}

button {
    font-family: sans-serif;
    background-color: #1164fc;
    color: white;
    height: 30px;
    border: solid 1px #1164fc;
    border-radius: 3px;
    cursor: pointer;
}

#btn2 {
    display: none;
}