body {
    font-family:'Times New Roman', Times, serif;
    width: 750px;
    margin: 0 auto;
}

h4 {
    text-align: right;
}    

.address {
    text-align: right;
    line-height: 18px;
    white-space: pre;
    margin-top: 0;
    margin-bottom: 0;
}

h3{
    text-decoration: underline;
}

.main {
    font-family: "Bad Script", cursive;
    line-height: 25px;
    text-indent: 45px;
    text-align: justify;
}