body {
    background-color: rgb(219,219,219);
    border: 4px solid white;
}


.main {
    display: flex;
    flex-direction: row;
}

#nav {
    background-color: rgb(204,204,204);
    flex: 0 0 15em;
    align-self: flex-start;
}

.page {
    flex: 1 1 auto;

}

footer {
    background-color: rgb(204,204,204);
    text-align: center;
    border-top: 2px solid white;
}

.article {
    margin-bottom: 0.2em;
    background-color: rgb(170,170,170);
    overflow: auto;
}

.art {
    margin-top: 0;
    margin-bottom: 0;
}

.img {
    float: right;
}